# IDE and editor files
.vscode/
.idea/

# Node modules
node_modules/

# Build outputs
dist/
build/

# Environment files
.env

# Temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db
.clasp.json
